{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="chat-container">
        <h1 class="welcome-message">Welcome to the Chat Lobby!</h1>
        <form id="login-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Enter your name:</label>
                <input type="text" class="form-control" id="username" placeholder="Your name">
            </div>
            <button type="submit" class="btn btn-primary">Join Chat</button>
        </form>
    </div>
    {% endblock %}
    {% block scripts %}
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}